*.log
*.tsbuildinfo
.DS_Store
.env
.env.backup
.env.production
.secrets
Thumbs.db

/.fleet
/.idea
/.nova
/.vscode
/.zed
/node_modules
**/node_modules

/apps/*/.react-router
/apps/*/.wrangler
/apps/*/build
/apps/*/playwright-report
/apps/*/test-results
/apps/*/worker-configuration.d.ts
