name: Tests

on:
  push:

jobs:
  phpunit:
    runs-on: ubuntu-latest
    env:
      APP_ENV: testing
      APP_KEY: base64:1qZ0b9E93sKOG5XQ3YwKwcjwXDf+ZFIzuD0kZwIUSnA=
      BROADCAST_DRIVER: log
      CACHE_DRIVER: array
      DB_CONNECTION: sqlite
      DB_DATABASE: ":memory:"
      MAIL_MAILER: log
      QUEUE_CONNECTION: sync
      SESSION_DRIVER: array
    steps:
      - uses: actions/checkout@v6

      - uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          coverage: none
          extensions: pdo_sqlite, sqlite3, pcntl, bcmath, intl

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> "$GITHUB_OUTPUT"

      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --ansi

      - name: Copy env file
        run: cp .env.example .env

      - name: Run test suite
        run: php artisan test
